body{
    margin:0px;
}
.top{
    height:30px;font-size:20px;line-height:30px;
    display:flex;
    align-items:center;
    padding:5px;
}
nav>.top_title{
    font-weight:bold;
    flex:auto;
}
label{
    display:none;
}
nav>.top_bar{
    list-style:none;
    display:flex;
    flex:none;width:220px;
}
nav ul li{
    flex:auto;
}
.sub_title{
    height:300px;font-size:40px;line-height:300px;text-align:center;
    background-color:#00ffff;
}
.photos_container{
    margin:10px; /*main跟body間隔10px*/
    margin-left:auto;margin-right:auto; /*main物件在畫面水平置中*/
    display:flex;
    flex-wrap:wrap; /*在flex語法下main底下的物件會換行*/
    justify-content:center; /*在flex語法下main底下的物件會水平置中*/
}
main>.container{
    flex:none;
    width:270px;
    height:300px;
    margin:10px;
}
main div img{
    height:90%;
    width:100%;
    object-fit:cover;
    object-position:center;
    display:block; /*消除img跟div間空白*/
}
main div>.context{
    height:10%;background-color:#00ffff;
    font-size:20px;line-height:150%; /*行距%基準看font-size,20x150%=30px符合欄高*/
    text-align:center;
}
@media (min-width:1200px){
    .photos_container{
        width:1200px;
    }
}
@media (max-width:1200px){
    main>.container{
        width:45%;
    }
}
@media (max-width:600px){
    main>.container{
        width:90%;
    }
    nav>.top_bar{
        display:none;
    }
    nav label{
        display:block;
    }
}