body{
    margin:0px;
}
.top{
    height:30px;font-size:20px;line-height:30px;
    display:flex;
    align-items:center;
    padding:5px;
}
nav>.topTitle{
    font-weight:bold;
    flex:auto;
}
nav>label{
    display:none;
}
nav>.topBar{
    list-style:none;
    display:flex;
    flex:none;width:220px;
}
nav>ul>li{
    flex:auto;
    display:flex;
    justify-content:center;
}
.subTitle{
    height:300px;font-size:40px;line-height:300px;text-align:center;
    background-color:#00ffff;
}
.photosContainer{
    margin:20px; /*main跟body間隔10px*/
    margin-left:auto;margin-right:auto; /*main物件在畫面水平置中*/
    display:flex;
    flex-wrap:wrap; /*在flex語法下main底下的物件會換行*/
    justify-content:center; /*在flex語法下main底下的物件會水平置中*/    
}
main>.container{
    flex:none;
    width:280px;
    margin:10px;
    display:flex;
    flex-direction:column;
}
main>div>img{
    flex:none;
    height:240px;
    width:100%;
    object-fit:cover;
    object-position:center;
    display:block; /*消除img跟div間空白*/
}
main>div>.context{
    padding:5px;
    flex:auto;min-height:40px;background-color:#00ffff;
    font-size:20px;line-height:1.5; /*行距基準看font-size,20x1.5=30px*/
    text-align:center;
    display:flex;               /*flex搭配j-c a-i達到文字在div內水平置中及垂直置中*/
    justify-content:center;
    align-items:center;
}
.button{
    font-size:16px;width:150px;padding:10px;border:1px solid #888888;
    background-color:#eeeeee;margin:auto;display:block;
    margin-bottom:25px;
}
@media (min-width:1200px){
    .photosContainer{
        width:1200px;
    }
}
@media (max-width:1200px){
    main>.container{
        width:45%;  /*佔整個版面的45%*/
    }
}
@media (max-width:600px){
    main>.container{
        width:90%;  /*佔整個版面的90%*/
    }
    nav>.topBar{
        display:none;
    }
    nav label{
        display:block;
    }
}